@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Aurora Resort</h1>
    <p class="lead">The place to come for all of you vacation needs and wants!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Book A Room!&raquo;</a></p>
    <!--Themes-->
    <link href="ccs/font-awesome.css" rel="stylesheet" />
    <link href="cxx/wickedpicker.css" rel="stylesheet" type='text/css' media="all">
    <link href="css/style.css" rel='stylesheet' type='text/css'>
    <!--fonts-->
    <link href ="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
</div>
<br>
<br>
<br>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta hhtp-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() {setTimeout(hideURLbar, 0); },false); function hideURLbar() { window.ScrollTo(0,1);}</script>


<div class="row">
    <div class="col-md-5">
        <h2>Water Park</h2>
        <p>
            This water park is full of fun things to do for individuals of all ages. Complete with a wave pool, lazy river, water pad, kiddie land, and an assortment of slides we guarantee that you won't leave unsatisfied with your experience here. We also have a gift shop indside for the kids that may have forgotten their goggles, swim shoes, or puddle jumpers. 
        </p>
        <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>


    <div class="col-md-5">
        <h2>Zip Lining</h2>
        <p></p>
        <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>


    <div class="col-md-5">
        <h2>Water Skiing</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-5">
        <h2>Live Shows Daily</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>